useDynLib(GMCM)
export("SimulateGMCMData")
export("SimulateGMMData")
export("get.IDR")
export("get.idr")
export("get.prob")
export("fit.meta.GMCM")
export("fit.full.GMCM")
export("rtheta")
export("choose.theta")
export("Uhat")
export("full2meta")
export("meta2full")

# http://adv-r.had.co.nz/Rcpp.html#adding-rcpp-to-an-existing-package-rcpp-0.10.7
# “We need to import something (anything) from Rcpp so that 
# internal Rcpp code is properly loaded. In an ideal world, 
# we would just need to use the LinkingTo but this is not
# enough.”
importFrom(Rcpp, sourceCpp)
importFrom(RcppArmadillo, fastLm)